/* Ground Zero */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333
    line-height 1.6;
}

header {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center; 
}

button {
    background: #707bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #7056b3;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.content {
    margin-bottom: 20px;
    text-align: center;
}

.change-log {
    margin-top: 150px;
    margin-bottom: 20px;
}